<!-- <h2>LINKTREE 🌲</h2> -->
<!-- <div class="mat-table-container">
    <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>    
            <td mat-cell *matCellDef="let elem">
                <a [href]="elem.link" target="_blank"> {{elem.name}} </a>
            </td>
        </ng-container>
        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef>Description</th>    
            <td mat-cell *matCellDef="let elem"> {{elem.description}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div> -->
<div class="linktree-div">
    <a href="https://www.flickr.com/photos/193886304@N05/" target="_blank">
        <i class="fa fa-flickr"></i>
    </a>
    <a href="https://github.com/ricky-taing" target="_blank">
        <i class="fa fa-github-square"></i>
    </a>
    <a href="https://www.linkedin.com/in/ricky-taing-30b358185/" target="_blank">
        <i class="fa fa-linkedin-square"></i>
    </a>
    <a href="mailto:ricky.r.taing@gmail.com" target="_blank">
        <i class="fa fa-envelope"></i>
    </a>
</div>