/* table { */
table {
    background-color: white;
    border-radius: 10px;
    text-align: left;
    border-collapse: collapse;
}
    
th, td {
    color: black;
    border:1px solid black;
}

.mat-table-container {
    max-width: 600px;
    margin: 0 auto;
  }

/* .mat-column-name {
    width: 5%;
}
.mat-column-description {
    width: 25%;
}
table.mat-table { } */