<h1>{{title}}</h1>
<img src="../assets/images/nyanko-xmas-baro.png" alt="custom nyanko pfp" style="width:225px;height:192px;">

<nav>
    <a class="button" routerLink="/dashboard">Dashboard</a>
    <a class="button" routerLink="/anime-list">Anime</a>
</nav>

<!-- <app-photography></app-photography> -->
<!-- <app-anime></app-anime> -->
<router-outlet></router-outlet>
<!-- <app-linktree></app-linktree> -->
<!-- <app-testing></app-testing> -->

<button type="button" (click)="changeLang()">{{ langBtnText }}</button>
<button type="button" (click)="returnTop()">Return to the Top</button>
<app-messages></app-messages>