<div class="background-container">
    <!-- <img ngSrc="../assets/images/mahoyo-anime.jpg" alt="background-mahoyo" class="background-img" fill> -->
    <!-- <img ngSrc="../assets/photo-gallery/fireworks.jpeg" alt="background-fireworks" class="background-img" fill> -->
    
    <div class="content">
        <h1>{{title}}</h1>
        <nav>
            <!-- <a class="button" routerLinkActive="activebutton" routerLink="/about-me">Home</a> -->
            <a class="nav-btn" routerLinkActive="active-nav-btn" routerLink="/about-me">About Me</a>
            <a class="nav-btn" routerLinkActive="active-nav-btn" routerLink="/anime-list">Anime List</a>
            <a class="nav-btn" routerLinkActive="active-nav-btn" routerLink="/top-anime">Top Anime</a>
            <a class="nav-btn" routerLinkActive="active-nav-btn" routerLink="/photo-gallery">Photography</a>
        </nav>

        <router-outlet></router-outlet>
        <!-- <app-photography></app-photography> -->
        <app-linktree></app-linktree>
        <!-- <app-testing></app-testing> -->
        <!-- <app-messages></app-messages> -->

        <button type="button" class="menu-btn" (click)="returnTop()"><i class="fa fa-arrow-up"></i></button>
        <div class="menu">
            <button type="button" class="menu-btn"><i class="fa fa-bars"></i></button>
            <div class="menu-content">
                <a (click)="changeLang()"><i class="fa fa-language"></i> Language</a><br>
                <a><i class="fa fa-cog"></i> Settings</a>
            </div>
        </div>
    </div>
</div>