h1 {
    float: left;
    color: orange;
    font-size: 250%;
}

nav {
    float: right;
}

router-outlet::after {
    content: "";
    clear: both;
    display: table;
}

a {
    transition: color .25s;
}
a:hover {
    /* background-color: orange; */
    border-bottom: .15em solid orange;
    color: black;   
}
a+a {
    margin-left: 10px;
}

.background-container {
    position: static;
    width: 100%;
    height: 100%; 
    overflow: scroll;
}

.background-img {
    object-fit: cover; 
    z-index: -1;
}

.content {
    /* position: relative; */
    padding: 20px;
}

.nav-btn {
    /* background: #ffffff linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%); */
    /* border-radius: 6px; */
    /* border: 1px solid #dcdcdc; */
    box-shadow: inset 0 1px 0 0 #ffffff;
    display: inline-block;
    cursor: pointer;
    color: #666666;
    font-size: 20px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0 1px 0 #ffffff;
    outline: 0;
}
.active-nav-btn {
    /* text-shadow: 0 1px 0 #528ecc; */
    /* box-shadow: inset 0 1px 0 0 #dcecfb; */
    /* background: #bddbfa linear-gradient(to bottom, #bddbfa 5%, #80b5ea 100%); */
    /* background: orange linear-gradient(to bottom, orange 5%, #eacc80 100%); */
    /* border: 1px solid #84bbf3; */
    color: black;
    border-bottom: .15em solid orange;
}

.menu-btn {
    background-color: black;
    border: none;
    border-radius: 50% 50% 50% 50%;
    cursor: pointer;
    color: white;
    font-size: 1.2rem;
    padding: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    float: right;
}
.menu-btn:hover{
    background-color:orange;
    color: black;
} 
/* .menu-btn:disabled{
    background-color: #eee;
    color: #aaa;
    cursor: auto;
} */
  
.menu {
    position: relative;
    display: inline-block;
    float: right;
}
.menu-content {
    display: none;
    position: absolute;
    bottom: 80px;
    right: 25px;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    /* width: 100%;
    overflow: auto; */
    /* min-width: 80px; */
}
.menu:hover .menu-content{
    background-color:white;
    display: block;
}