<div class="background-container">
    <img ngSrc="../assets/images/mahoyo-anime.jpg" class="background-img" fill>

    <div class="content">
        <h1>{{title}}</h1>

        <nav>
            <a class="button" routerLinkActive="activebutton" routerLink="/about-me">About Me</a>
            <a class="button" routerLinkActive="activebutton" routerLink="/anime-list">Anime List</a>
            <a class="button" routerLinkActive="activebutton" routerLink="/top-anime">Top Anime</a>
            <a class="button" routerLinkActive="activebutton" routerLink="/photo-gallery">Photography</a>
        </nav>

        <router-outlet></router-outlet>
        <!-- <app-photography></app-photography> -->
        <app-linktree></app-linktree>
        <!-- <app-testing></app-testing> -->
        <app-messages></app-messages>

        <button type="button" (click)="changeLang()">{{ langBtnText }}</button>
        <button type="button" (click)="returnTop()">Return to the Top</button>
    </div>
</div>