button {
  background-color: black;
  border: none;
  border-radius: 50% 50% 50% 50%;
  cursor: pointer;
  color: white;
  font-size: 1.2rem;
  padding: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  float: right;
}
button:hover{
  background-color:orange;
  color: black;
}
/* button:disabled{
  background-color: #eee;
  color: #aaa;
  cursor: auto;
} */

.menu {
  position: relative;
  display: inline-block;
  float: right;
}
.menu-content {
  display: none;
  position: absolute;
  bottom: 80px;
  right: 25px;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  /* width: 100%;
  overflow: auto; */
  /* min-width: 80px; */
}
.menu:hover .menu-content{
  background-color:white;
  display: block;
}

/* body, input[type="text"], button { */
body, input[type="text"] {
  background-color: white;
  color: #333;
}

body, html { 
  height: 100%;
}

body { 
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
}
  
/* everywhere else */
* {
  font-family: 'Courier New', Courier, monospace;
}